{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
    <div id="container">
        {% include('header.html.twig') %}
        <div id="wrapper">
            <div class="container">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <div class="count">
                    <i>
                        Trang{{ pageRequest }}/{{ pagination.pageCount }} (Tổng {{ pagination.getTotalItemCount }} tin
                        mua).
                    </i>
                </div>
                <table class="table-responsive table-striped table-bordered">
                    <tr>
                        {# sorting of properties based on query components #}
                        <th>{{ knp_pagination_sortable(pagination, 'Mã Tin', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Hình ảnh', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Trạng thái', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Chi tiết', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Giá', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Liên hệ', 'a.Id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Tỉnh', 'a.Id') }}</th>
                    </tr>

                    {# table body #}
                    {% for article in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ article.code }}</td>
                            <td>{{ article.imageLink|raw }}</td>
                            <td>{{ article.status }}</td>
                            <td>{{ article.info }}</td>
                            <td>{{ article.price }}</td>
                            {% if article.shopId.id == 0 %}
                                <td><b>Liên hệ:</b><br>{{ article.userId.name }}<br><b>Địa
                                        chỉ:</b><br>{{ article.userId.address }}
                                    <br><b>ĐT:</b><br>{{ article.userId.phone }}<br>
                                </td>
                                <td>{{ article.city }}</td>
                            {% else %}
                                <td><b>Liên hệ:</b><br>{{ article.shopId.name }}<br><b>Địa
                                        chỉ:</b><br>{{ article.shopId.address }}
                                    <br><b>ĐT:</b><br>{{ article.shopId.phone }}<br>
                                </td>
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                {#==========#}
            </div>
        </div>
    </div>
{% endblock %}