{#{% extends 'base.html.twig' %}#}

{% block body %}
    <style type="text/css">
        .main {
            background-color: #F2F2F2;
        }

        .main-left {
            width: 19%;
            float: left;
            /*padding-left: 1%;*/
            /*padding-right: 1%;*/
            /*margin-left: 1%;*/
            margin-right: 1%;
        }

        .pagination-part {
            padding-left: 4%;
        }

        .main-center {
            background-color: white;
            /*margin-top: 10px;*/
            margin-bottom: 10px;
            width: 60%;
            float: left;
        }

        .main-right {
            width: 19%;
            float: right;
            /*padding-left: 1%;*/
            /*padding-right: 1%;*/
            margin-left: 1%;
            /*margin-right: 1%;*/
        }

        .panel-heading {
            text-align: center;
        }

        #container {
            overflow: auto;
        }

        div.form-search {
            padding-top: 3%;
            padding-left: 1%;
        }

        div.button-search {
            margin: auto;
            width: 20%;
            padding: 1%;
        }

        div.panel-primary {
            margin-bottom: 0px;
        }

    </style>
    <div id="wrapper">
        <div id="container">
            {#header#}
            {% include('header.html.twig') %}
            {#end header#}
            <div id="wrapper">
                <div class="container">
                    <div class="row main">
                        <div class="main-left">
                            <div class="panel panel-primary panel-config">
                                <div class="panel-heading">DANH SÁCH HÃNG XE</div>
                                <div class="brands">
                                    <ul class="list-group">
                                        {% for pagi in brs %}
                                            {% if pagi.name != null %}
                                                <li class="list-group-item"><a
                                                            href="{{ path('get_data_search') }}?brand={{ pagi.id }}">{{ pagi.name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="main-center">
                            <div class="panel panel-primary">
                                <div class="panel-heading">HỆ THỐNG TIN TỨC MUA BÁN Ô TÔ UY TÍN NHẤT VIẾT NAM</div>
                                <div class="form-search">
                                    <form action="{{ path('get_data_search') }}" method="get">
                                        <div class="search-op">
                                            <label>Hãng xe:</label>
                                            <select name="brand">
                                                <option value="" selected></option>
                                                {% for brand in brands %}
                                                    {% if brand.name != null %}
                                                        <option value="{{ brand.id }}">{{ brand.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <label>Trạng thái:</label>
                                            <select name="status">
                                                <option value="" selected></option>
                                                <option value="Xe cũ">Xe cũ</option>
                                                <option value="Xe mới">Xe mới</option>
                                            </select>
                                            <label>Năm mua:</label>
                                            <select name="year">
                                                <option value="" selected></option>
                                                {% for i in 1970..2017 %}
                                                    <option value="{{ i }}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            <label>Giá:</label>
                                            <select name="price">
                                                <option value="" selected></option>
                                                <option value="10000"><10000$</option>
                                                <option value="20000"><20000$</option>
                                                <option value="50000"><50000$</option>
                                                <option value="100000"><100000$</option>
                                                <option value="200000"><200000$</option>
                                                <option value="300000"><300000$</option>
                                                <option value="500000">>300000$</option>
                                            </select>
                                            <br>
                                            <label>Tỉnh:</label>
                                            <input type="text" name="city">
                                            <label>Tên xe:</label>
                                            <input type="text" name="carName">
                                        </div>
                                        <div class="button-search">
                                            <label>
                                                <button type="submit" class="btn btn-primary"><span
                                                            class="glyphicon glyphicon-search"></span>
                                                    Tìm kiếm
                                                </button>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="count">
                                    <i>
                                        Trang{{ pageRequest }}/{{ pagination.pageCount }}
                                        (Tổng {{ pagination.getTotalItemCount }} tin mua).
                                    </i>
                                </div>
                                <div class="pagi-top navigation">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                                <div class="table-pos">
                                    <table class="table-responsive table-striped table-bordered ">
                                        <tr>
                                            {# sorting of properties based on query components #}
                                            <th class="table-header tbl-code">{{ knp_pagination_sortable(pagination, 'Mã Tin', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Hình ảnh', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Trạng thái', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Chi tiết', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Giá', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Liên hệ', 'a.Id') }}</th>
                                            <th class="table-header">{{ knp_pagination_sortable(pagination, 'Tỉnh', 'a.Id') }}</th>
                                        </tr>

                                        {# table body #}
                                        {% for article in pagination %}
                                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                                <td class="table-content">{{ article.code }}</td>
                                                <td class="table-content">{{ article.imageLink|raw }}</td>
                                                <td class="table-content status">{{ article.status }}</td>
                                                <td class="table-content info main-info">
                                                    <b>{{ article.kind }}</b><br>{{ article.info }}</td>
                                                <td class="table-content price">{{ article.price }} USD</td>
                                                {% if article.shopId.id == 0 and article.userId.id != 0 %}
                                                    <td class="table-content main-contact"><b>Liên
                                                            hệ:</b>{{ article.userId.name }}<br><b>Địa
                                                            chỉ:</b>{{ article.userId.address }}
                                                        <br><b>ĐT:</b>{{ article.userId.phone }}<br></td>
                                                    <td class="table-content city">{{ article.city }}</td>
                                                {% elseif article.shopId.id != 0 %}
                                                    <td class="table-content main-contact"><b>Liên
                                                            hệ:</b><br>{{ article.shopId.name }}<br><b>Địa
                                                            chỉ:</b><br>{{ article.shopId.address }}
                                                        <br><b>ĐT:</b><br>{{ article.shopId.phone }}<br></td>
                                                    <td class="table-content city"></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                {# display navigation #}
                                <div class="pagi-top navigation">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                            </div>
                        </div>
                        <div class="main-right">
                            <div class="panel panel-primary panel-config">
                                <div class="panel-heading">LIÊN HỆ</div>
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Sứ
                                                    mệnh</a>
                                            </h4>
                                        </div>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <div class="panel-body">Được khởi đầu từ giữa năm 2016, MobiHome.com ra đời
                                                với mong muốn trở thành cầu nối đưa những thông tin của người mua và
                                                người bán ô tô đến gần nhau hơn..
                                                MobiHome.com với mục tiêu: “Là nơi chia sẻ thông tin giữa người mua và
                                                người bán ô tô. Kết nối những đam mê đằng sau tay lái giữa những người
                                                bạn.”
                                                Thân.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Đăng
                                                    tin bán xe</a>
                                            </h4>
                                        </div>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">Cho phép bạn dễ dàng đăng tin bán xe lên
                                                hệ thống. Xe của bạn sẽ nhanh chóng được bán thông qua thông tin quảng
                                                bá trên kênh rộng rãi.
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <a href="{{ path('up_sell_news') }}">Đăng tin bán xe</a>
                                                {% else %}
                                                    <a href="{{ path('fos_user_security_login') }}">Đăng tin bán
                                                        xe</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Đăng
                                                    tin mua xe</a>
                                            </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">Cho phép bạn dễ dàng đăng tin mua xe lên
                                                bonbanh.com. Các nhà cung cấp sẽ nhanh chóng liên hệ với bạn .
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                    <a href="{{ path('up_buy_news') }}">Đăng tin mua xe</a>
                                                {% else %}
                                                    <a href="{{ path('fos_user_security_login') }}">Đăng tin mua
                                                        xe</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Hệ
                                                    thống Salon</a>
                                            </h4>
                                        </div>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <div class="panel-body">Tại MobiHome.com các thông tin về salon ô tô được
                                                cập
                                                nhật đầy đủ và phong phú.
                                                <a href="{{ path('salon_list') }}"> Tìm salon</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Hệ
                                                    thống tin tức</a>
                                            </h4>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse">
                                            <div class="panel-body">Tìm kiếm thông tin mua/ bán trên website dễ dàng!
                                                <a href="{{ path('sell_news') }}">Tìm xe đăng bán</a>
                                                <a href="{{ path('buy_news') }}">Tìm người mua xe</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('footer.html.twig') %}
{% endblock %}