<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ path('book') }}">Home</a></li>

        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
            <li><a href="{{ path('user') }}">User</a></li>
        {% elseif is_granted('ROLE_USER') %}
            <li><a href="{{ path('logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('login') }}">Login</a></li>
            <li><a href="{{ path('user_new') }}">Register</a></li>
        {% endif %}
    </ul>
</div>